.category-card {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;

    hr {
        width: 60px;
        border: none;
        height: 1px;
        background-color: white;
        margin: 4px auto;
    }

    &__cover {
        @include imgCover;
    }

    &__btn {
        position: absolute;
        top: 8px;
        left: 8px;
        opacity: 0;
        transition: opacity $main-transition;
        filter: drop-shadow(0 0 8px #000);
        color: #fff;
        font-size: 13px;
        pointer-events: none;
        z-index: 10;

        @include onTouchDevices {
            display: none;
        }

        svg {
            font-size: 16px;
            margin-right: 8px;
        }

        div {
            display: flex;
            align-items: center;

            @include after-first(1) {
                display: none;
            }
        }

        &:hover {
            div {
                @include after-first(1) {
                    display: flex;
                }

                @include first-child {
                    display: none;
                }
            }
        }
    }

    &:hover {
        @include onMouseDevices {
            .category-card__btn {
                opacity: 1;
                pointer-events: auto;
            }

            .category-card__more-info {
                max-height: 160px;
                transition-duration: .9s;
            }
        }
    }

    &.is-active {
        @include onTouchDevices {
            .category-card__more-info {
                max-height: 160px;
                transition-duration: .5s;
            }
        }
    }

    &__details {
        background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        position: absolute;
        bottom: 0;
        padding: 16px 8px;
        color: white;
        width: 100%;
        text-align: center;
        text-shadow: 0 0 16px rgba(0, 0, 0, .8);
    }

    &__title {
        text-transform: uppercase;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 2px;
        overflow-wrap: break-word;
    }

    &__desc {
        line-height: 1.2;
        padding: 0 8px;
        font-size: 14px;
        overflow-wrap: break-word;
    }

    &__link {
        display: none;
        border-radius: 5px;
        padding: 0 8px;
        margin-top: 8px;
        font-style: italic;
        font-weight: 400;
        width: auto;
        background: rgba(255, 255, 255, .8);
        text-shadow: none;
        transition: none;
        border: none;
        color: $secondary-font-color;

        &:hover,
        &:active {
            color: $secondary-font-color;
            background-color: rgba(255, 255, 255, .8);
            cursor: pointer;
            box-shadow: none;
            outline: none;
            text-decoration: none;
        }

        svg {
            margin-right: 8px;
        }

        @include onTouchDevices {
            display: inline-flex;
        }
    }

    &__more-info {
        max-height: 0;
        overflow: hidden;
        transition: max-height $main-transition;
        transition-duration: .5s;
        will-change: max-height;
    }

    &__status {
        position: absolute;
        right: 0;
        top: 4px;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;

        > span {
            font-size: 11px;
            display: flex;
            align-items: center;
            line-height: 16px;
            padding: 2px 4px;
            color: $secondary-font-color;
            background-color: rgba(255, 255, 255, .8);
            font-style: italic;

            + span {
                margin-top: 5px;
            }
        }

        svg {
            font-size: 10px;
            margin-right: 4px;
        }
    }
}
