.clothes-card {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
    border: 1px solid #ececec;
    background-color: #fff;
    font-size: 14px;

    @include onTouchDevices {
        padding-bottom: $clothe-item-btn-height;
    }

    @include onMouseDevices {
        &:hover {
            .clothes-card__shipping,
            .clothes-card__sale-price {
                color: $orange-lite;
            }

            .clothes-card__discount,
            .clothes-card__tags,
            .clothes-buttons__like-btn,
            .clothes-buttons__buy-confirm,
            .clothes-buttons__discard-buy,
            .clothes-buttons__buy-link {
                opacity: 1;
                pointer-events: auto;
            }

            .clothes-buttons__like-btn {
                &:hover {
                    opacity: .7;
                }
            }
        }
    }

    &.is-compact {
        .clothes-card__link {
            height: calc(100% - 30px);
        }

        .clothes-card__details {
            height: 30px;
        }
    }

    &__link {
        position: relative;
        width: 100%;
        height: calc(100% - 50px);
        object-fit: contain;
        cursor: pointer;
    }

    &__cover {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__details {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        padding: 5px;
        background-color: #fff;
        height: 50px;
    }

    &__prices {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
        margin-top: auto;
    }

    &__start-price {
        text-decoration: line-through;
    }

    &__discount {
        opacity: 0;
        pointer-events: none;
        transition: opacity $main-transition;
    }

    &__sale-price {
        color: $primary-font-color;
        font-weight: 700;
        display: flex;
        align-items: center;
        transition: color .2s linear;

        @include unique {
            margin-left: auto;
        }

        span {
            margin-right: 4px;
            line-height: 1em;
        }

        svg {
            font-size: 12px;
        }
    }

    &__title {
        @include ellipsis;
        text-align: center;
    }

    &__shipping,
    &__tags {
        position: absolute;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;

        > span {
            padding: 2px 8px;
            background-color: #fff;
            font-style: italic;

            + span {
                margin-top: 5px;
            }

            &.is-inverted {
                background-color: $orange-lite;
                color: #fff;
                text-transform: uppercase;
            }
        }
    }

    &__shipping {
        transition: color .2s linear;
        color: $primary-font-color;
        left: 0;
        top: 8px;
    }

    &__tags {
        bottom: 8px;
        right: 0;
        color: $secondary-font-color;

        > span {
            font-size: 14px;
            display: flex;
            align-items: center;
            line-height: 16px;
            padding: 2px 6px;
        }

        svg {
            font-size: 12px;
            margin-right: 4px;
        }
    }
}
