.img-fade-in {
    --animation-duration: 300ms;
    --animation-delay: 0ms;

    opacity: 0;
    position: relative;
    transition: opacity $main-transition;
    transition-duration: var(--animation-duration);
    transition-delay: var(--animation-delay);

    &.is-loaded {
        opacity: 1;

        &.instant-load {
            opacity: 0;
            animation: fade-in .6s cubic-bezier(0, 0, .3, 1) forwards;
        }
    }

    &__placeholder {
        @include stretch;
        pointer-events: none;
        background-color: #ececec;
    }
}
