.masonry {
    &__list {
        display: grid;
        grid-column-gap: 16px;
        grid-auto-rows: 20px;

        @include mq($from: 1601px) {
            grid-template-columns: repeat(5, 1fr);
        }

        @include mq($until: 1600px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @include mq($until: wide) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include mq($until: desktop) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mq($until: tablet) {
            grid-template-columns: repeat(1, 1fr);
        }

        @include mq($until: mobile) {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 8px;
            grid-auto-rows: 13px;
        }
    }

    &__item {
        $maxItems: 20;
        $extraSpan: 21;

        width: 100%;
        margin-bottom: 16px;
        grid-row-end: span 16;

        &.is-entered {
            animation: slide-up .6s cubic-bezier(0, 0, .3, 1) .1s forwards;
        }

        @include mq($from: 1601px) {
            @include placeMasonryGridItems(5, $maxItems, $extraSpan);
        }

        @include mq($from: wide, $until: 1600px) {
            @include placeMasonryGridItems(4, $maxItems, $extraSpan);
        }

        @include mq($from: desktop, $until: wide) {
            @include placeMasonryGridItems(3, $maxItems, $extraSpan);
        }

        @include mq($from: tablet, $until: desktop) {
            @include placeMasonryGridItems(2, $maxItems, $extraSpan);
        }

        @include mq($from: mobile, $until: tablet) {
            &:nth-child(3n + 1) {
                grid-row-end: span $extraSpan;
            }
        }

        @include mq($until: mobile) {
            margin-bottom: 8px;
            grid-row-end: span 17;

            @include placeMasonryGridItems(2, $maxItems, $extraSpan);
        }
    }
}
