.outfit-box {
    max-width: calc(100vh - #{$header-height});
    position: relative;
    cursor: zoom-in;
    grid-column: 1/-1;
    grid-row: 1/-1;
    align-self: center;
    justify-self: center;

    @include mq($until: mobile) {
        align-self: start;
        max-width: calc(var(--vh) - #{$header-height} - #{$toolbar-height} - #{$tab-header-height});
        cursor: default;

        .outfit-stylist,
        .save-outfit-btn {
            display: none;
        }
    }

    &.is-zoomed {
        cursor: zoom-out;

        .outfit-box__point {
            opacity: 0;
            transition: opacity .2s cubic-bezier(.19, 1, .22, 1);
            pointer-events: none;
        }
    }

    &__image {
        position: relative;
        contain: layout;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }
    }

    &__point {
        position: absolute;
        color: #fff;
        font-size: 24px;
        display: flex;
        cursor: pointer;
        pointer-events: none;
        transition: transform .4s cubic-bezier(.19, 1, .22, 1) .2s, opacity .4s cubic-bezier(.19, 1, .22, 1) .2s;
        opacity: 0;
        transform: scale(0) rotate(-.1turn);
        will-change: transform;
        -webkit-tap-highlight-color: transparent;

        &.is-visible {
            pointer-events: auto;
            opacity: 1;
            transform: scale(1) rotate(-.1turn);

            svg {
                animation: wobble-hor-top 3.5s both .3s;
            }

            .buzz-circle {
                animation-name: glow;
            }
        }

        svg {
            transform-origin: top right;
            filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
            will-change: transform;
        }
    }
}
