.save-outfit-btn {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 20px;
    top: 10px;
    font-size: 20px;
    color: rgb(0,0,0);
    color: var(--outfit-btn-color);
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0s cubic-bezier(0, 0, .3, 1);

    &.is-visible {
        opacity: 1;
        transition-duration: .3s;
    }

    svg {
        cursor: pointer;
        pointer-events: auto;
    }

    span {
        font-size: 12px;
        font-weight: 700;
    }
}
