.my-outfits {
    &__group-collection {
        padding: 0;
    }

    &__group-btn-container {
        display: flex;
        justify-content: center;
    }

    &__group-btn {
        margin-top: 15px;
        width: 130px;
    }

    .my-library__group-list {
        grid-template-rows: 200px;
        grid-auto-columns: 200px;
    }
}
