.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.scrollable {
    overflow-y: auto;
}

.with-custom-scroll::-webkit-scrollbar {
    width: 5px;
    height: 100%;
    background-color: rgba(0, 0, 0, .05);
}

.with-custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-right {
    margin-left: auto;
}

.flex-left {
    margin-right: auto;
}

.flex-top {
    margin-bottom: auto;
}

.flex-bottom {
    margin-top: auto;
}

.with-entrance {
    opacity: 0;
}

.scroll-snap-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x;
}
