//Colors
$primary-bg-color: #fff;
$secondary-bg-color: #f7f6f6;
$primary-font-color: #033076;
$secondary-font-color: #606060;
$ternary-color: #7a7a7a;
$lite-color: #c0c0c0;
$orange-lite: #ffa834;
$orange-dark: #ff7e34;

//CSS variables default

//Buttons
$button-primary-color: $primary-font-color;
$button-primary-color-a: #fff;
$button-secondary-color: #fff;
$button-height: 36px;
$button-height-l: 56px;
$button-primary-bg: transparent;
$button-primary-bg-a: $primary-font-color;
$button-secondary-bg: $orange-lite;
$button-secondary-bg-a: $orange-dark;

//Inputs
$input-error-color: rgba(255, 0, 0, .8);

//Layout
$header-height: 56px;
$footer-height: 421px;
$footer-height-m: 211px;
$left-sidebar-width: 316px;
$right-sidebar-max-width: 900px;
$right-sidebar-min-width: 425px;
$container-width: 1366px;

//Header
$header-bg: $primary-bg-color;
$header-shadow: 0 0 16px rgba(0, 0, 0, .3);

//Footer
$footer-bg: $primary-bg-color;
$footer-shadow: 0 0 16px rgba(0, 0, 0, .3);

//Transition
$main-transition: .3s cubic-bezier(0, 0, .3, 1);

//NProgress
$nprogress-bg: $primary-font-color;
$nprogress-height: 2px;

//Fonts
$main-font: 'Lato', Helvetica, Arial, sans-serif;
$cursive-font: 'Caveat', cursive;
$base-font-size: 16px;

//Buzz circle
$buzz-circle-border: 3px;
$buzz-circle-outer-edge: 12px;

//Clothes item
$clothe-item-height: 240px;
$clothe-item-width: 185px;
$clothe-item-btn-height: 26px;

//Tabs
$tab-header-height: 36px;
$tab-subheader-height: 36px;

//Outfit
$toolbar-height: 35px;


//Breakpoints
$mq-breakpoints: (
    tiny: 321px,
    small: 561px,
    mobile: 768px,
    tablet: 901px,
    desktop: 1101px,
    large: 1301px,
    wide: 1367px
);
